<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<!-- Định nghĩa appender ghi log vào file -->
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/log-error.txt" />
			<!-- Đường dẫn tới file log -->
			<appendToFile value="true" />
			<!-- Ghi nối vào file hiện tại -->
			<encoding value="utf-8" />
			<!-- Mã hóa UTF-8 để hỗ trợ ký tự Nhật Bản -->
			<rollingStyle value="Size" />
			<!-- Chia nhỏ file theo kích thước -->
			<maxSizeRollBackups value="5" />
			<!-- Giữ lại 5 file backup -->
			<maximumFileSize value="10MB" />
			<!-- Kích thước tối đa của file là 10MB -->
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- Cấu hình root logger -->
		<root>
			<level value="DEBUG" />
			<!-- Ghi log từ mức độ DEBUG trở lên -->
			<appender-ref ref="FileAppender" />
			<!-- Sử dụng FileAppender đã cấu hình -->
		</root>
	</log4net>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>